<div id="collective" class="collective main-block-paddings main-block-style fixed-clip">
	<div class="container">
		<h2 class="text-center">Наш колектив</h2>
		<div class="unlined-title row"><!--forgot to add "row"-->
			<div class="col-md-4 col-sm-12 col-xs-12">
				<img src="img/teacher-1.jpg" alt="Марина Сопотницька" class="img-responsive img-circle employe-photo">
				<p class="text-center bigger">Марина Сопотницька</p>
				<p class="text-center">Навчає англійської не лише <br> з відповідальністью, а й із задоволенням. <br> Заохочує не зациклюватись на правилах.</p>
			</div>
			<div class="col-md-4 col-sm-12 col-xs-12">
				<img src="img/teacher.png" alt="Марина Сопотницька" class="img-responsive img-circle employe-photo">
				<p class="text-center bigger">Марина Сопотницька</p>
				<p class="text-center">Навчає англійської не лише <br> з відповідальністью, а й із задоволенням. <br> Заохочує не зациклюватись на правилах.</p>
			</div>
			<div class="col-md-4 col-sm-12 col-xs-12">
				<img src="img/teacher-2.jpg" alt="Марина Сопотницька" class="img-responsive img-circle employe-photo">
				<p class="text-center bigger">Марина Сопотницька</p>
				<p class="text-center">Навчає англійської не лише <br> з відповідальністью, а й із задоволенням. <br> Заохочує не зациклюватись на правилах.</p>
			</div>
			<div class="col-md-4 col-sm-12 col-xs-12">
				<img src="img/teacher-3.jpg" alt="Марина Сопотницька" class="img-responsive img-circle employe-photo">
				<p class="text-center bigger">Марина Сопотницька</p>
				<p class="text-center">Навчає англійської не лише <br> з відповідальністью, а й із задоволенням. <br> Заохочує не зациклюватись на правилах.</p>
			</div>
			<div class="col-md-4 col-sm-12 col-xs-12">
				<img src="img/teacher-4.jpg" alt="Марина Сопотницька" class="img-responsive img-circle employe-photo">
				<p class="text-center bigger">Марина Сопотницька</p>
				<p class="text-center">Навчає англійської не лише <br> з відповідальністью, а й із задоволенням. <br> Заохочує не зациклюватись на правилах.</p>
			</div>
			<div class="col-md-4 col-sm-12 col-xs-12">
				<img src="img/teacher-6.jpg" alt="Марина Сопотницька" class="img-responsive img-circle employe-photo">
				<p class="text-center bigger">Марина Сопотницька</p>
				<p class="text-center">Навчає англійської не лише <br> з відповідальністью, а й із задоволенням. <br> Заохочує не зациклюватись на правилах.</p>
			</div>
		</div>
	</div>
</div>