body{/*загальні властивості та шрифти*/
    margin: 10px auto;
    font-size: 16px;
    font-family: Gothemrounded-light;
    position: static;
    color: #ddd;
}
    
.container{
    padding: 0;
    margin: 0 auto;
    width: 1280px;
    height: 3590px;
    border: 1px solid #ccc;
    display: block;
}

/*ВСЕ, ЩО СТОСУЄТЬСЯ ХЕДЕРА*/
.header{
    display: block;
    margin: 0 auto; 
    height: 745px;
    width: auto;
    background-image: url(../images/background1.png);
}
 
ul#navbar {
    list-style-type: none;
    margin: 0;
    padding-top: 55px;
    padding-left: 264px;
    overflow: hidden;
    width: 100%;
}

#navbar li {
    float: left;
    padding-top: 6px;
    padding-right: 49px;
}
#navbar li:nth-child(3){
    padding-right: 188px;
}#navbar li:nth-child(4){
    padding-right: 62px;
}

#navbar li a {
    display: block;
    position: relative;
    padding: 8px;
    text-decoration: none;
    color: #ddd;
    text-transform: uppercase;
    letter-spacing: 2.1px;
    font-family: Gothemrounded-medium;
}

#navbar li img{
    position: absolute;
    margin: -20px 45px;
}

div#header-moto>h1{
    margin-top: 238px;
    margin-left: 390px;
    text-transform: uppercase;
    font-family: Gothemrounded-bold;
    font-size: 36px;
    letter-spacing: 5.3px;
}

div#header-moto>p{
    margin-top: -18px;
    margin-left: 475px;
    letter-spacing: 2.6px;
}

div#header-moto>button{
    margin-top: 10px;
    margin-left: 557px;
    width: 166px;
    height: 49px;
    background-color:#149f85;
    border-radius: 3px;
    font-family: Gothemrounded-bold;
    color: #ddd;
    border: none;
    text-transform: uppercase;
    letter-spacing: 1.2px;
    cursor: pointer;
}

ul.fa-inline{
    list-style-type: none;
    margin: 0;
    padding-top: 198px;
    padding-left: 591px;
    overflow: hidden;
}
ul.fa-inline>li {
    float: left;
    margin-right: 18px;
    margin-top: 20px;
    font-size: 24px;
}

/*ABOUT US BLOCK*/

div.aboutus{
    display: block;
    height: 493px;
    width: auto;
    background-color: #f4f5f6;
    background-image: url(../images/Hand-with-iphone1.png);
}

div.aboutus-text{
    padding-top: 74px;
    padding-left: 128px;
    width: 438px;
}
div.aboutus-text>h6{
    position: relative;
    left: 2px;
    
    font-family: Gothemrounded-book;
    text-transform: uppercase;
    font-size: 16px;
    letter-spacing: 4px;
    color: #149f85;
}
div.aboutus-text pre span#txt{
    position: relative;
    left: 1px;
    top: 4px;
    margin-top: 3px;
    font-size: 12px;
    letter-spacing: 1.85px;
    font-family: Gothemrounded-light;
    color: black;    
    line-height: 24px;
}
div.aboutus-text>button{
    position: relative;
    top: 2px;
    top: 28px;
    width: 192px;
    height: 52px;
    background-color:#149f85;
    border-radius: 3px;
    font-family: Gothemrounded-bold;
    color: #ddd;
    font-size: 12px;
    border: none;
    text-transform: uppercase;
    letter-spacing: 1.8px;
    cursor: pointer;
}
div.aboutus-text>button.cta>span{
    position: relative;
    top: 2px;
    left:1px;
}

/*DESIGN BLOCK*/
div.design{
    display: block;
    height: 556px;
    width: auto;
    background-color: white;
    background-image: url(../images/green-iphone2.png);
}

div.design-text{
    padding-top: 104px;
    padding-left: 764px;
    width: 438px;
}
div.design-text>h6{
    position: relative;
    left: 2px;
    top: 2px;
    font-family: Gothemrounded-book;
    text-transform: uppercase;
    font-size: 16px;
    letter-spacing: 4px;
    color: #149f85;
}
div.design-text pre{
    position: relative;
    top: 1px;
    left: 5px;
    font-size: 12px;
    letter-spacing: 1.9px;
    font-family: Gothemrounded-light;
    color: black;    
    line-height: 22px;
}
div.design-text>button{
    position: relative;
    top:28px;
    left:4px;
    width: 192px;
    height: 50px;
    background-color:#149f85;
    border-radius: 2px;
    border: none;
    text-transform: uppercase;
    letter-spacing: 1.8px;
    cursor: pointer;
}
div.design-text>button>span{
    position: relative;
    left: -2px;
    font-family: Gothemrounded-bold;
    color: #ddd;
    font-size: 12px;
}

div.design-text>div{
    margin-top: 40px;
    font-family: Gothemrounded-bold;
    line-height: 18px;
    margin-left: 1px;
}
div.design-text span#num{
    position: relative;
    top:28px;
    left: 2px;
    font-size: 12px;
    color: black;
    letter-spacing: 2px;
}
div.design-text span#arrows{
    display: block;
    position: relative;
    top: 27px;
    left: 2px;
    color: black;
    font-size: 26px;
    letter-spacing: 24px;
}


/*COMMUNITY BLOCK*/
div.community{
    border: 1px solid rgba(238, 238, 238, 0);
    height: 484px;
    background-color: #f4f5f6;
}

div.community>div.glyphs{
    position: absolute;
    display: block;
    left: 1233px;
    top: 1891px;
    color: black;
    font-size: 28px;
    font-weight: 700;
    letter-spacing: 18px;
}
div.community-inner{    
    margin-top: 120px;
    
}
div.community-text{
    position: relative;
    width: 320px;
    margin-right: 30px;
    margin-left: 20px;
}
div.community-text>img{
    position: absolute;
    margin-left: 166px;
    margin-top: 46px;
}
div.community-text>h5{
    position: absolute;
    margin-top: 128px;
    margin-left: 107px;
    font-family: Gothemrounded-book;
    text-transform: uppercase;
    font-size: 16px;
    letter-spacing: 2.4px;
    color: black;
}
div.community-text>pre{
    position: absolute;
    font-size: 10px;
    margin-top: 167px;
    margin-left: 127px;
    letter-spacing: 1.6px;
    font-family: Gothemrounded-light;
    color: black;    
    line-height: 12px;
}


div.pics>img{
    margin-top: 100px;
    margin-right: 30px;    
}
div.inline-img-van{
    display: inline-block;
    position: relative;
    top: 2px;
    left:385px;
}
div.inline-img-leaf{
    display: inline-block;
    position: relative;
    left:404px;
    top: 2px;
}

/*SUBSCRIBE BLOCK*/
.subscribe{
    height: 790px;
    background-image: url(../images/Livello-3.png);
}
.subscribe>h3{
    position: absolute;
    font-family: Gothemrounded-bold;
    text-transform: uppercase;
    font-size: 24px;
    letter-spacing: 3.6px;
    color: white;
    margin-top: 346px;
    margin-left: 403px;
}

#subscribe-input{
    position: relative;
    display: inline;
    top: 404px;
    left: 467px;
    width: 310px;
    height: 126px;
    
}
#subscribe-input>input[type='text']{
    text-transform: uppercase;
    width: 260px;
    height: 58px;
    border-style: none;
    border-radius: 2px;
    padding-left: 24px;
    font-family: Gothemrounded-book;
    color: black;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 2.2px;
}
#subscribe-input>span{
    position: relative;
    display: inline-block;    
/*    bottom: -1px;*/
/*    right: 10px;*/
    height: 60px;
    top: -14.5px;
    left: -8px;
    width: 63px;
    background-color: #149f85;
/*    padding: 20px;*/
    border-radius: 0px 3px 3px 0;

}
#subscribe-input>span>i{
    position: relative;
    font-size: 24px;
    top: 20px;
    left: 20px;
    
}
/*DOWNLOAD BLOCK*/
div.download{
    margin-top: -32px;
    height: 396px;
    background-color: #f4f5f6;
}


div.download>h5{
    padding-top: 86px;
    padding-left: 548px;
    font-family: Gothemrounded-bold;
    text-transform: uppercase;
    font-size: 19px;
    letter-spacing: 3.8px;
    color: black;
}
div.download pre{
    margin-top: -25px;
    margin-left: 220px;
    font-size: 12px;
    letter-spacing: 1.85px;
    font-family: Gothemrounded-light;
    font-weight: 700;
    text-transform: uppercase;
    color: black;    
    line-height: 23px;
}

#apple>.btn-label {
    position: relative;
    left: 54px;
    top: -1px;
    display: inline-block;
    /*    padding: 15px 20px;*/
    width: 56px;
    height: 56px;
    background: #16a086;
    font-size: 28px;
    border-radius: 0px 3px 3px 0;
}
#android>.btn-label {
    position: relative;
    left: 54px;
    top: -1px;
    display: inline-block;
    /*    padding: 15px 20px;*/
    width: 56px;
    height: 56px;
    background: #16a086;
    font-size: 28px;
    border-radius: 0px 3px 3px 0;
}
#apple>span.label-words{
    position: relative;
    left: -20px;
    top: 9px; 
    letter-spacing: 2.6px;
    color: white;
}
#android>span.label-words{
    position: relative;
    left: -14px;
    top: 7px; 
    letter-spacing: 4px;
    color: white;
}
#apple>span.btn-label>i{
    position: relative;
    font-size: 26px;
    top: 12px;
    color: white;
}
#android>span.btn-label>i{
    position: relative;
    font-size: 31px;
    top: 10px;
    left: 1px;
    color: white;
}
#apple{

    margin-top: -10px;
    margin-left: 331px;
}
#android{
    
    margin-top: 33px;
    margin-left: 32px;    
}
.btn { 
    top: -5px;
    position: relative;
    width: 285px;
    height: 56px;
    background-color:#1bbc9b;
    border-radius: 2px;
    font-family: Gothemrounded-bold;
    color: #ddd;
    font-size: 16px;
    border: none;
    text-transform: uppercase;
    letter-spacing: 1.8px;
    cursor: pointer;
}

/*FOOTER BLOCK*/
div.footer{
    font-family: Gothemrounded-bold;
    color: black;
    font-size: 13px;
    position: relative;
}
#footer-links{
    position: relative;
    top:30px;
    left:88px;
}
#footer-links li{
    display: inline-block;
    text-transform: uppercase;
    letter-spacing: 2.8px;
}
.break-line{
    color: #16a086;
}
#copyright{
    position: relative;
    letter-spacing: 2.6px;
    left: 128px;
    top:37px;
}

.footer>img{
    position: relative;
    top:-33px;
    left: 1099px;
}



@font-face {
    font-family: Gothemrounded-bold; /* Имя шрифта */
    src: url(../fonts/GothamRoundedBold_21016.ttf); /* Путь к файлу со шрифтом */
}
@font-face {
    font-family: Gothemrounded-book; /* Имя шрифта */
    src: url(../fonts/GothamRoundedBook_21018.ttf); /* Путь к файлу со шрифтом */
}
@font-face {
    font-family: Gothemrounded-light; /* Имя шрифта */
    src: url(../fonts/GothamRoundedLight_21020.ttf); /* Путь к файлу со шрифтом */
}
@font-face {
    font-family: Gothemrounded-mediumitalic; /* Имя шрифта */
    src: url(../fonts/gothamrounded-mediumitalic-webfont.ttf); /* Путь к файлу со шрифтом */
}
@font-face {
    font-family: Gothemrounded-medium; /* Имя шрифта */
    src: url(../fonts/GothamRoundedMedium_21022.ttf); /* Путь к файлу со шрифтом */
}
