<div id="collective" class="collective main-block-paddings main-block-style">
		<h2 class="text-center">Наш колектив</h2>
		<div class="unlined-title row"><!--forgot to add "row"-->
			<div class="col-md-4 col-sm-6 col-xs-12">
				<img src="https://pp.vk.me/c630623/v630623397/3e836/zoj8S8pSONI.jpg" alt="Марина Сопотницька" class="img-responsive img-circle employe-photo">
				<p class="text-center bigger">Марина Сопотницька</p>
				<p class="text-center">Навчає англійської не лише <br> з відповідальністью, а й із задоволенням. <br> Заохочує не зациклюватись на правилах.</p>
			</div>
			<div class="col-md-4 col-sm-6 col-xs-12">
				<img src="https://pp.vk.me/c630623/v630623397/3e836/zoj8S8pSONI.jpg" alt="Марина Сопотницька" class="img-responsive img-circle employe-photo">
				<p class="text-center bigger">Марина Сопотницька</p>
				<p class="text-center">Навчає англійської не лише <br> з відповідальністью, а й із задоволенням. <br> Заохочує не зациклюватись на правилах.</p>
			</div>
			<div class="col-md-4 col-sm-6 col-xs-12">
				<img src="https://pp.vk.me/c630623/v630623397/3e836/zoj8S8pSONI.jpg" alt="Марина Сопотницька" class="img-responsive img-circle employe-photo">
				<p class="text-center bigger">Марина Сопотницька</p>
				<p class="text-center">Навчає англійської не лише <br> з відповідальністью, а й із задоволенням. <br> Заохочує не зациклюватись на правилах.</p>
			</div>
			<div class="col-md-4 col-sm-6 col-xs-12">
				<img src="https://pp.vk.me/c630623/v630623397/3e836/zoj8S8pSONI.jpg" alt="Марина Сопотницька" class="img-responsive img-circle employe-photo">
				<p class="text-center bigger">Марина Сопотницька</p>
				<p class="text-center">Навчає англійської не лише <br> з відповідальністью, а й із задоволенням. <br> Заохочує не зациклюватись на правилах.</p>
			</div>
			<div class="col-md-4 col-sm-6 col-xs-12">
				<img src="https://pp.vk.me/c630623/v630623397/3e836/zoj8S8pSONI.jpg" alt="Марина Сопотницька" class="img-responsive img-circle employe-photo">
				<p class="text-center bigger">Марина Сопотницька</p>
				<p class="text-center">Навчає англійської не лише <br> з відповідальністью, а й із задоволенням. <br> Заохочує не зациклюватись на правилах.</p>
			</div>
			<div class="col-md-4 col-sm-6 col-xs-12">
				<img src="https://pp.vk.me/c630623/v630623397/3e836/zoj8S8pSONI.jpg" alt="Марина Сопотницька" class="img-responsive img-circle employe-photo">
				<p class="text-center bigger">Марина Сопотницька</p>
				<p class="text-center">Навчає англійської не лише <br> з відповідальністью, а й із задоволенням. <br> Заохочує не зациклюватись на правилах.</p>
			</div>
		</div>
	</div>