<footer id="contacts">
				<div class="row"><!-- we use in this block 12-col and must set new "row"-->
  			<div class="col-lg-12 address">
				<span class="col-sm-3 col-md-3 col-lg-3">
					<i class="glyphicon glyphicon-earphone"></i> +380(93) 583-31-04
				</span>
				<span class="col-sm-3 col-md-3 col-lg-3">
					<i class="glyphicon glyphicon-map-marker"></i>Ірпінь, вул.Українська, 63
				</span>
				<span class="col-sm-3 col-md-3 col-lg-3">
		 			<i class="glyphicon glyphicon-envelope"></i>babyartclub@ukr.net
    			</span>
    			<a href="https://www.instagram.com/babyartclub/" target="_blank">
       			<img src="img/instagram.png" alt="Instagram" class="socials instagram"/></a>
       			<a href="https://www.facebook.com/Babyartclub-977334338998348/?fref=ts" target="_blank">
				<img src="img/facebook.png" alt="Facebook" class="socials facebook"/></a>
				<a href="https://vk.com/babyartclub" target="_blank">
      			<img src="img/vk.png" alt="Vkontakte" class="socials vkontakte"/>
      			</a>
			</div>
 		 	<div class="col-lg-12"> <!-- we use again 12-col and don't neet "row" here-->
				 <form action="" class="col-lg-8 col-md-8 col-sm-8">
				 	<label for="input1">
					 <input type="text" placeholder="Введіть повідомлення" class="message" id="input1" required/>
					</label>
					<label for="input2" >
					 <input type="text" placeholder="Ім'я" class="info-f" id="input2" aria-required="true" aria-describedby="name-format" required/>
					 </label>
					<label for="input3" >
					 <input type="email" placeholder="Пошта" class="info-f" id="input3" aria-required="true" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" required/>
					</label>
					<label for="input4">
					<input type="tel" placeholder="Номер телефону"  class="info-f tel" id="input4" pattern="^\d{10}$" aria-describedby="basic-addon3" required/>
					</label>
					<input type="submit" value="Підтвердити" class="info-b">
				 </form>
  				<img src="img/map-lg.png" alt="Map" class="img-responsive col-lg-4 col-md-4 col-sm-4 map" />
    		</div>
	</footer>