<footer id="contacts">
	<div class="container">
		<div class="col-lg-4 col-md-4 col-sm-12">
			<form action="#" method="post">
				<label for="input1">
					<textarea name="" id="input1" class="message" cols="30" rows="5" maxlength="200" placeholder="Введіть повідомлення *" required></textarea>
					<!-- <input type="text" placeholder="Введіть повідомлення *" class="message" id="input1" maxlength="200" required/>
                   </label> -->
					<label for="input2" >
						<input type="text" placeholder="Ім'я *" class="info-f" id="input2" aria-required="true" aria-describedby="name-format" maxlength="50" required/>
					</label>
					<label for="input3" >
						<input type="email" placeholder="Пошта *" class="info-f" id="input3" aria-required="true" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" maxlength="50" required/>
					</label>
					<label for="input4">
						<input type="tel" placeholder="Номер телефону"  class="info-f tel" id="input4" pattern="^\d{10}$" aria-describedby="basic-addon3" maxlength="15"/>
					</label>
					<input type="submit" value="Підтвердити" class="info-b submit">
			</form>
		</div>
		<div class="col-lg-4 col-md-4 col-sm-12">
			<div class="to-center">
				<a href="https://www.instagram.com/babyartclub/" target="_blank">
					<img src="img/instagram.png" alt="Instagram" class="socials instagram"/></a>
				<a href="https://www.facebook.com/Babyartclub-977334338998348/?fref=ts" target="_blank">
					<img src="img/facebook.png" alt="Facebook" class="socials facebook"/></a>
				<a href="https://vk.com/babyartclub" target="_blank">
					<img src="img/vk.png" alt="Vkontakte" class="socials vkontakte"/>
				</a>
			</div>
			<p class="inform"><i class="glyphicon glyphicon-earphone"></i> +380(93) 583-31-04</p>
			<p class="inform more-margin">+380(93) 583-31-04 </p>
			<p class="inform more-margin">+380(93) 583-31-04</p>
			<p class="inform"><i class="glyphicon glyphicon-map-marker"></i>Ірпінь, вул.Українська, 63</p>
			<p class="inform"><i class="glyphicon glyphicon-envelope"></i>babyartclub@ukr.net</p>
		</div>
		<div class="col-lg-4 col-md-4 col-sm-12">
			<img src="img/map-lg.png" alt="Map" class="img-responsive map"/>
		</div>
	</div>

</footer>