<footer id="contacts">
	<div class="container">
		<div class="col-lg-4 col-md-4 col-sm-12">
			<form action="#" method="post">
				 	<label for="input1">
				 	<textarea name="" id="input1" class="message" cols="30" rows="5" maxlength="200" placeholder="Введіть повідомлення *" required></textarea>
					<label for="input2">
					 <input type="text" placeholder="Ім'я *" class="info-f" id="input2" aria-required="true" aria-describedby="name-format" maxlength="50" required/>
					 </label>
					<label for="input3">
					 <input type="email" placeholder="Пошта *" class="info-f" id="input3" aria-required="true" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" maxlength="50" required/>
					</label>
					<label for="input4">
					<input type="tel" placeholder="Номер телефону"  class="info-f tel" id="input4" pattern="^\d{10}$" aria-describedby="basic-addon3" maxlength="15"/>
					</label>
					<button type="submit" class="btn info-b"><i class="glyphicon glyphicon-send"></i></button>
			</form>
		</div>
		<div class="col-lg-4 col-md-4 col-sm-12 ">
			<div class="inform">
      			<a href="https://www.instagram.com/babyartclub/" target="_blank">
       				<img src="img/instagram.png" alt="Instagram" class="socials instagram ico"/></a>
       			<a href="https://www.facebook.com/Babyartclub-977334338998348/?fref=ts" target="_blank">
					<img src="img/facebook.png" alt="Facebook" class="socials facebook ico"/></a>
				<a href="https://vk.com/babyartclub" target="_blank">
      				<img src="img/vk.png" alt="Vkontakte" class="socials vkontakte ico"/>
      			</a>
			</div>
				<p class="inform"><i class="glyphicon glyphicon-earphone ico"></i> +380(93) 583-31-04 <br><i class="glyphicon glyphicon-earphone ico" data-hidden="hidden"></i> +380(98) 733-75-14<br><i class="glyphicon glyphicon-earphone ico" data-hidden="hidden"></i> +380(50) 501-17-96</p>
				<p class="inform"><i class="glyphicon glyphicon-map-marker ico"></i>Ірпінь, вул.Українська, 63</p>
				<p class="inform"><i class="glyphicon glyphicon-envelope ico"></i>babyartclub@ukr.net</p>

		</div>
		<div class="col-lg-4 col-md-4 col-sm-12 paddings-scale">
			<a href="#" class="thumbnail " data-toggle="modal" data-target="#lightbox">
				<img src="img/map.png" alt="Map" class="img-responsive map"/>
			</a>
		</div>
		<div id="lightbox" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<button type="button" class="close hidden info-b" data-dismiss="modal" aria-hidden="true">×</button>
				<div class="modal-content">
					<div class="modal-body">
						<img src="" alt="" />
					</div>
				</div>
			</div>
		</div>
	</div>
</footer>