<nav class="navbar navbar-default navbar-decor" role="navigation" >
		<div class="container-fluid main-block-paddings">
			<div class="row">
				<div>
					<!-- Brand and toggle get grouped for better mobile display -->
					<div class="navbar-header">
						<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						 </button>
						<div><a class="" href="#"><img class="logo-size" src="img/logo.png" alt=""></a></div>
					</div>
					<!-- Collect the nav links, forms, and other content for toggling -->
					<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
						<form class="navbar-form navbar-right form_margin_bottom" role="search">
							<div class="">
								<input type="text" class="form-control" placeholder="Поиск">
							</div>
						</form>
						<ul class="nav navbar-nav navbar-right ul_margin_top">
							<li><a href="#" class="menu-title">Про нас</a></li>
							<li><a href="#programms" class="menu-title">Программы</a></li>
							<li><a href="#collective" class="menu-title">Наш колектив</a></li>
							<li><a href="#contacts" class="menu-title">Контакты</a></li>
						</ul>
  					</div>
  				</div>
			</div><!-- /.navbar-collapse -->
		</div><!-- /.container-fluid -->
	</nav>