<div class="programms main-block-paddings main-block-style">
	  <h2 class="text-center">Програми</h2>
	 <!--  каркас блоку програми складаеться, із шести блоків  -->
		<div class="row">
			<div class="col-sm-6 col-xs-12 col-md-4">
				<a href="#" class="thumbnail">
					<img src="https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcRPIcmqottPvwH5WoKuAu8S5SBg3jV33haCmQ3r3D1HrrZL2nwa" alt="...">
				</a>
			</div>
			<div class="col-sm-6 col-xs-12 col-md-4">
				<a href="#" class="thumbnail">
					<img src="https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcRPIcmqottPvwH5WoKuAu8S5SBg3jV33haCmQ3r3D1HrrZL2nwa" alt="...">
				</a>
			</div>
			<div class="col-sm-6 col-xs-12 col-md-4">
				<a href="#" class="thumbnail">
					<img src="https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcRPIcmqottPvwH5WoKuAu8S5SBg3jV33haCmQ3r3D1HrrZL2nwa" alt="...">
				</a>
			</div>
			<div class="col-sm-6 col-xs-12 col-md-4">
				<a href="#" class="thumbnail">
					<img src="https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcRPIcmqottPvwH5WoKuAu8S5SBg3jV33haCmQ3r3D1HrrZL2nwa" alt="...">
				</a>
			</div>
			<div class="col-sm-6 col-xs-12 col-md-4">
				<a href="#" class="thumbnail">
					<img src="https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcRPIcmqottPvwH5WoKuAu8S5SBg3jV33haCmQ3r3D1HrrZL2nwa" alt="...">
				</a>
			</div>
			<div class="col-sm-6 col-xs-12 col-md-4">
				<a href="#" class="thumbnail">
					<img src="https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcRPIcmqottPvwH5WoKuAu8S5SBg3jV33haCmQ3r3D1HrrZL2nwa" alt="...">
				</a>
			</div>
		</div>
	</div>