<div id='programms' class="programms main-block-style main-block-paddings">
	<div class="container text-muted ">
		<h2 class="text-center">Програми</h2>
		<div class="row">
			<div class="col-sm-6 col-xs-12 col-md-4 inline-block paddings-scale">
				<div class="foto foto_rpon foto_background">
					<a href="develop_prog.html">
						<img src="img/early.png" class="img-responsive foto_display "  alt="ранній розвиток">
						<!--<span class="programms_name">Розвиток перших<br>освітніх навиків</span>-->
					</a>
				</div>
			</div>
			<div class="col-sm-6 col-xs-12 col-md-4 inline-block paddings-scale">
				<div class="foto foto_sadik foto_background">
					<a href="mini_sadok.html"> <img src="img/summercamp.png" class="img-responsive inline-block foto_display "  alt="літній табір">
						<!--<span class="programms_name">Міні садок</span>-->
					</a>
				</div>
			</div>
			<div class="col-sm-6 col-xs-12 col-md-4 inline-block paddings-scale">
				<div class="foto foto_gpd foto_background">
					<a href="grup_prog.html"> <img src="img/gruppday.png" class="img-responsive inline-block foto_display " alt="група подовженого дня">
						 <!--<span class="programms_name">Група  <br><span class="foto_day">пpодовженого дня</span>-->
					</a>
				</div>
			</div>
			<div class="col-sm-6 col-xs-12 col-md-4 inline-block paddings-scale">
				<div class="foto foto_dp foto_background">
					<a href="pidgotovka_prog.html">
						<img src="img/pre-school.png" class="img-responsive foto_display " alt="Дошкільна підготовка">
						<!--<span class="programms_name">Дошкільна <br>підгтовка</span>-->
					</a>
				</div>
			</div>
			<div class="col-sm-6 col-xs-12 col-md-4 inline-block paddings-scale">
				<div class="foto foto_ts foto_background">
					<a href="tvorcha_stud.html">
						<img src="img/hobby.png" class=" img-responsive foto_display " alt="Хоббі">
						<!--<span class="programms_name">Творча студія</span>-->
					</a>
				</div>
			</div>
			<div class="col-sm-6 col-xs-12 col-md-4 inline-block paddings-scale">
				<div class="foto foto_fp foto_background">
					<a href="phis_pidgotovka.html">
						<img src="img/sports.png" class="img-responsive foto_display " alt="спорт">
						<!--<span class="programms_name">Фізичний розвиток </span>-->
					</a>
				</div>
			</div>
		</div>
	</div>
</div>