/*
* Third Party
*/
@import "partials/carousel.css";
/*
* Custom: nav
*/
@import "partials/style.css";

/*
* Custom: nav
*/
@import "partials/nav.css";
/*
* Custom : carusel
*/
@import "partials/slider.css";
/*
* Custom : about-us
*/
@import "partials/aboutus.css";
/*
* Custom : programms
*/
@import "partials/programms.css";
/*
* Custom: collective
*/
@import "partials/collective.css";
/*
* Custom: footer
*/
@import "partials/footer.css";