@font-face{
  font-family:"Roboto-Light";
  src: url(fonts/Roboto-Light_1.ttf);
}
@font-face{
  font-family:"Roboto-Regular";
  src: url(fonts/Roboto-Regular_0.ttf);
}

.collective h2{
  font-family: "Roboto-Regular";
  font-size: 30px;
}
.employe-photo {
  margin: 0 auto;
  height: 230px;
  width: 230px;
}
.unlined-title {
  border-top: 1px solid grey;
  padding-top: 20px;
}
p {
  font-family: "Roboto-Light";
  font-size: 16px;
}
.bigger {font-size: 24px;}