@font-face{
  font-family:"Roboto-Thin";
  src: url(fonts/Roboto-Thin_1.ttf);
}
#contacts{
  background-color: #9b5d90;
  width: 100% !important;
  padding: 10px;
  margin-top: 50px;
}
label {
  width: 100%;
  display: inline;
}
.info-f{
  width: 100%;
}
input {
  margin-top: 20px;
  padding: 5px;
  border: solid 2px white;
  border-radius: 5px;
  background-color: #9b5d90;
  font-family: "Roboto-Thin";
  color: white !important;
}
.address {
  padding-top: 20px;
}
.socials {
  margin-right: 15px;
  margin-top: 20px;
  height: 30px;
  width: 30px;
}
.message{
  width: 100%;
  padding: 5px;
  margin-top: 15px;
  border: solid 2px white;
  border-radius: 5px;
  background-color: #9b5d90;
  color: white !important;
}

.map {
  max-height: 550px;
}
.form-control{
  margin-bottom: 10px;
  margin-top: 10px;
}
.inform {
  color: white;
  margin: 5%;
  font-size: 18px;
  font-family: "Roboto-Thin";
  line-height: 1.5;
}
.centered-text{
  text-align: right;
}
.ico {
  margin:3%;
}
.submit {
  float: right;
}

/*setting placeholder color*/
::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    #fff;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #fff;
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #fff;
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    #fff;
}

#lightbox .modal-content {
  display: inline-block;
  text-align: center;
}

#lightbox .close {
  opacity: 1;
  color: rgb(255, 255, 255);
  background-color: rgb(25, 25, 25);
  padding: 5px 8px;
  border-radius: 30px;
  border: 2px solid rgb(255, 255, 255);
  position: absolute;
  top: -15px;
  right: -55px;

  z-index:1032;
}
[data-hidden="hidden"] {
  visibility: hidden;
}
.glyphicon {
  font-size: 1.4em;
}
.info-b {
  margin-top: 15px;
  float: right;
  border: solid 2px white !important;
  border-radius: 5px;
  background-color: #9b5d90;
  color: white !important;
}