.navbar-decor{
  background: #9b5d90 !important;
}
.logo-size{
  height: 40px;
  margin-top: 6px;
  padding-left: 15px;
}
.menu-title{
  color: white !important;
}
.navbar-toggle{
  margin-right: -5px;
}
.a_nav{
  margin: 0 !important;
  padding: 0px !important;
  padding-right: 15px !important;
  margin-top: 12px !important;
}
.navbar-nav > li > a:hover{
  color:#711663 !important;
}

ol {
  margin-top: 0;
  margin-bottom: -10px;
}
.carousel-indicators .active {
  /*width: 12px;
  height: 12px;
  margin: 0;*/
  background-color: #FDF;
}
.carousel-indicators li {

  background-color: #000 \9;
  background-color: rgba(0, 0, 0, 0);
}