.navbar-decor{
  background:rgba(155,93,144, .55);
}
.logo-size{
  height: 40px;
  margin-top: 3px;
  padding-left: 15px;
}
.menu-title{
  color: white !important;
}
.ul_margin_top{
  margin-top: 10px;
}
.form-control{
  margin-bottom: 10px;
  margin-top: 10px;
}

.navbar-toggle{
  margin-right: -5px;
}
.a_nav{
  margin: 0 !important;
  padding: 0px !important;
  padding-right: 15px !important;
  margin-top: 12px !important;
}
.navbar-nav > li > a:hover{
  color:#711663 !important;
}

