.foto{
	margin-left: 10px;
	margin-bottom: 5px;
}
.programms_name{
  display:inline-block;
  position:absolute;
  transform: translate(-50%, -50%);
  top: 50%;   
  left:50%;
  font-size: 24px;
  color: white;
  text-align: center;
}
.programms_name_mini{
  position: absolute;
  top: 40%;
  left: 30%;
  font-size: 24px;
  color: white;
}
.img-responsive {
  width: 100%;
}
.foto_background{
  width: 100%;
  height: auto;
  display:inline-block;
  background-repeat: no-repeat;
  background-size: cover;
}
.foto_sadik {
  background-image: url('../../img/summercamp1.png');
}
.foto_sadik:hover {
  background-image: url('../../img/summercamp.png');
}
.foto_gpd{
  background-image: url('../../img/gpd.png');
}
.foto_gpd:hover{
  background-image: url('../../img/gruppday.png');
}

.foto_fp{
  background-image: url('../../img/FR.png');
}
.foto_fp:hover{
  background-image: url('../../img/sports.png');
}

.foto_rpon{
  background-image: url('../../img/osvit.png');
}
.foto_rpon:hover{
  background-image: url('../../img/early.png');
}

.foto_dp{
  background-image: url('../../img/dp.png');
}
.foto_dp:hover{
  background-image: url('../../img/pre-school.png');
}

.foto_ts{
  background-image: url('../../img/ts.png');
}
.foto_ts:hover{
  background-image: url('../../img/hobby.png');
}

.foto_display{
  opacity: 0%;
}
.sadik_text{
  float: right;
  display:inline-block;
  position: relative;
  right: 5px;
}
.sadik_padding{
  padding: 0px;
  padding-right: 22px;
}
.sadik_font{
 /* font-size: 1.5em;*/
 font-size: 18px;
}
.englishh{
  font-size: 2.75em;
  margin-right: 30px;
}
.paddings-scale{
  padding: 15px !important;
}