@font-face {
  font-family: 'Glyphicons Halflings';
  src: url('../../fonts/bootstrap/glyphicons-halflings-regular.eot');
  src: url('../../fonts/bootstrap/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('../../fonts/bootstrap/glyphicons-halflings-regular.woff2') format('woff2'), url('../../fonts/bootstrap/glyphicons-halflings-regular.woff') format('woff'), url('../../fonts/bootstrap/glyphicons-halflings-regular.ttf') format('truetype'), url('../../fonts/bootstrap/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg'); }
  
@font-face{
  font-family:"Roboto Light";
  src: url('../../fonts/Roboto-Light_1.ttf');
}
@font-face{
  font-family:"Roboto Regular";
  src: url('../../fonts/Roboto-Regular_0.ttf');
}
@font-face{
  font-family:"Roboto Thin";
  src: url('../../fonts/Roboto-Thin_1.ttf');
}

html{
	margin:0;
	padding:0;
}

body{
	background: url("../../img/background.png") repeat;
	background-attachment: fixed;
	padding-bottom: 0px !important;
	padding-top: 110px !important;
}

.main-block-paddings{
  padding: 20px 20px;
  box-sizing: border-box;
}
.main-block-style{
  background-color: white !important;
  display: block;
  margin-top: 40px;
  box-shadow: 0 0 25px rgbs(0,0,0,1);
}
.row{
  margin: 0 !important;
}
#bg {
	position: fixed;
	top: 0;
	left:0;
	min-height: 100%;
	min-width: 100%;
}